# Analyse Final Project

***INSTRUCTIONS***

- This project contains 4 major questions.  The questions themselves are independent of each other, but the steps within each question build on top of each other. That means, if you get stuck in one step, you might not be able to proceed to the next step of the question. If you find yourself in this situation, it might be best to jump to the next question.<br><br>

- Way down, at the bottom of the notebook is a set of routines that you can use to test your functions.  **Don't change the code in these cells**.<br><br>

- **DO NOT ADD / REMOVE ANY CELLS TO / FROM THIS NOTEBOOK**.  Rather open another clean notebook in which to play around and test code. <br><br>

- The only parts of this notebook you may change are the `# YOUR CODE HERE` sections within the question functions.<br><br>

- Your **entire notebook** must run **WITHOUT RAISING ANY ERRORS**. That means - even if the answer your question returns is incorrect, it may not raise any errors.  The whole notebook must be able to run from start to finish without raising an error.  If your notebook raises an error, you risk getting zero.  (Use `Kernel` -> `Restart & Run All` to check this). <br><br>

- Make **sure**  that **all** of the desired cols are in your solution output. Also make sure that you **don't include any additional cols **  (i.e cols that were not specified in the question)<br><br>

- Make sure your code returns the same output as the **expected output** for each question.

-----------
***Good luck.  May the odds be in your favour.***

-----------

In [2]:
import numpy as np
import pandas as pd

from datetime import datetime

# Starting point

You will need to use the following 5 Pandas Data Frames to answer the rest of the questions in this notebook. 

**Be careful not to make changes to any of these original Data Frames**.

In [3]:
water_consumption_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/water_consumption.csv', usecols=["Date", "UrbanUseML", "AgriculturalUseML"])

dam_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/dam.csv', usecols=["DamId", "DamName", "MaxCapacityML", "Latitude", "Longitude"])

rain_station_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/rain_stations.csv', usecols=["StationId", "RainStationName", "Latitude", "Longitude"])

# DamID in the dam_level_df DataFrame corresponds to DamID in the dam_df DataFrame
dam_level_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/dam_level.csv',  usecols=["Date", "DamId", "HeightM", "StorageML"])

# StationID in the rainfall_df DataFrame corresponds to StationID in the rain_station_df DataFrame
rainfall_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/rainfall.csv',  usecols=["Date", "StationId", "PrecipitationMM"])

The Data Frames above are fetched from a database with the following ERD:

![ERD](https://github.com/Explore-AI/Public-Data/blob/master/AnalyseProject/CTWC_ERD.png?raw=true)

# Question 1

### Question 1 - Step 1

Define a function that creates a Pandas DataFrame from the `WaterConsumption` table, containing all the columns (i.e. Date, UrbanML and AgriculturalML).

The function should take `year` (an `int`) as an argument and return a Pandas DataFrame containing all the month consumption readings for that year only.

<br>
***Dataframe Specifications***:
<br>
The DataFrame should *only have* **three columns**:

- A `Date` column as in the `datetime` format (`datetime64[ns]` to be precise). 
- An `UrbanUseML` column containing the storage in megalitres as a `float64` type.
- An `AgriculturalUseML` column containing the storage in megalitres as a `float64` type.
<br><br>
- **The `Date` column should also be the index of the dataframe.**
<br><br>
- The column order should be:  `Date` *(as the index)* | `UrbanUseML` | `AgriculturalUseML`.

In [4]:
def consumption_df_for_year(year):
    
    # Set up the dataframe by copying the WaterConsumption table
    local_df = water_consumption_df.copy()
    
    # Convert the date to datetime format
    local_df['Date'] = pd.to_datetime(local_df.Date)
    
    # Filter the dataframe for the particular year:
    local_df = local_df[local_df.Date >= datetime(year, 1, 1)]
    local_df = local_df[local_df.Date < datetime(year + 1, 1, 1)]
    
    return local_df.set_index('Date')

In [4]:
consumption_df_for_year(2012)

            UrbanUseML  AgriculturalUseML
Date
2012-01-01      1093.0              976.0
2012-02-01      1176.0             1023.0
2012-03-01      1119.0              846.0
2012-04-01       991.0              466.0
2012-05-01       873.0               52.0
2012-06-01       793.0               26.0
2012-07-01       757.0               25.0
2012-08-01       763.0               25.0
2012-09-01       791.0               26.0
2012-10-01       859.0              130.0
2012-11-01       941.0              299.0
2012-12-01      1052.0              802.0

Expected output - 

||UrbanUseML	|AgriculturalUseML|
| --- | --- | --- |
|  Date   |     |     ||
|2012-01-01	|1093.0|	976.0|
|2012-02-01	|1176.0	|1023.0
|2012-03-01	|1119.0	|846.0
|2012-04-01	|991.0	|466.0
|2012-05-01	|873.0	|52.0
|2012-06-01	|793.0	|26.0
|2012-07-01	|757.0	|25.0
|2012-08-01	|763.0	|25.0
|2012-09-01	|791.0	|26.0
|2012-10-01	|859.0	|130.0
|2012-11-01	|941.0	|299.0
|2012-12-01	|1052.0	|802.0

### Question 1 - Step 2
As before, define a function that returns a dataframe containing `UrbanUseML`, `AgriculturalUseML`, and `Date` (as the index), but includes an additional column, called `CombinedUseML` which is the sum of `UrbanUseML` and `AgriculturalUseML` at every `Date`.
<br><br>
The column order should be:  `Date` *(as the index)* | `UrbanUseML` | `AgriculturalUseML` | `CombinedUseML`.
<br><br>

***You should use the function you defined in question 1.1 within this new function.***

- The column formats should mimic those in Step 1

In [5]:
def combined_consumption_df_for_year(year):
    
    local_df = consumption_df_for_year(year)
    
    # Create a column combining agricultural and urban use
    local_df["CombinedUseML"] = local_df.AgriculturalUseML + local_df.UrbanUseML
    
    return local_df

In [6]:
combined_consumption_df_for_year(2014)

            UrbanUseML  AgriculturalUseML  CombinedUseML
Date
2014-01-01      1061.0              986.0         2047.0
2014-02-01      1163.0             1032.0         2195.0
2014-03-01      1064.0              853.0         1917.0
2014-04-01       964.0              471.0         1435.0
2014-05-01       878.0               53.0          931.0
2014-06-01       741.0               27.0          768.0
2014-07-01       730.0               26.0          756.0
2014-08-01       755.0               26.0          781.0
2014-09-01       809.0               27.0          836.0
2014-10-01       917.0              132.0         1049.0
2014-11-01      1002.0              343.0         1345.0
2014-12-01      1168.0              919.0         2087.0

Expected output - 


|Date|UrbanUseML|	AgriculturalUseML|	CombinedUseML|
| Date |  |  |	
| --- | --- | --- | --- |	
|2014-01-01	|1061.0	|986.0	|2047.0|
|2014-02-01	|1163.0	|1032.0	|2195.0|
|2014-03-01	|1064.0	|853.0	|1917.0|
|2014-04-01	|964.0	|471.0	|1435.0|
|2014-05-01	|878.0	|53.0	|931.0|
|2014-06-01	|741.0	|27.0	|768.0|
|2014-07-01	|730.0	|26.0	|756.0|
|2014-08-01	|755.0	|26.0	|781.0|
|2014-09-01	|809.0	|27.0	|836.0|
|2014-10-01	|917.0	|132.0	|1049.0|
|2014-11-01	|1002.0	|343.0	|1345.0|
|2014-12-01	|1168.0	|919.0	|2087.0|

### Question 1 - Step 3
Create a function that queries and reports on water consumption for a particular year.

The report should take a year (integer) as an argument, and return a Python Dictionary in the following format:
```
{

    'urban': {

            'average': average urban monthly consumption for the year,
            'median': median urban monthly consumption for the year,
            'min': minimum urban monthly consumption for the year,
            'max': maximum urban monthly consumption for the year,
            'total': total urban consumption for the year,
        }
    
    'agriculture': {

            'average': average agriculture monthly consumption for the year,
            'median': median agriculture monthly consumption for the year,
            'min': minimum agriculture monthly consumption for the year,
            'max': maximum agriculture monthly consumption for the year,
            'total': total agriculture consumption for the year,
        }
        
    'combined': {

            'average': average combined monthly consumption for the year,
            'median': median combined monthly consumption for the year,
            'min': minimum combined monthly consumption for the year,
            'max': maximum combined monthly consumption for the year,
            'total': total combined consumption for the year,
        }
}
```

All reported values in the dictionary should be of `float` type **rounded to 2 decimal values**.  And should only contain data pertaining to the `year` passed as an argument.

The report should be a dictionary where the key is the type (urban, agriculture etc), and the value inside is **another dictionary** containing statistics


The `combined` part of the report combines both urban and agricultural consumption.

***You should use the function you defined in question 1.2 inside this function.***

In [7]:
def consumption_report(year):
    
    local_df = combined_consumption_df_for_year(year)
    
    report = {

        'urban': {
                'average': round(float(local_df.UrbanUseML.mean()), 2),
                'median': round(float(local_df.UrbanUseML.median()), 2),
                'min': round(float(local_df.UrbanUseML.min()), 2), 
                'max': round(float(local_df.UrbanUseML.max()), 2), 
                'total': round(float(local_df.UrbanUseML.sum()), 2),
            },

        'agriculture': {
                'average': round(float(local_df.AgriculturalUseML.mean()), 2), 
                'median': round(float(local_df.AgriculturalUseML.median()), 2),
                'min': round(float(local_df.AgriculturalUseML.min()), 2), 
                'max': round(float(local_df.AgriculturalUseML.max()), 2), 
                'total': round(float(local_df.AgriculturalUseML.sum()), 2),
            },

        'combined': {
                'average': round(float(local_df.CombinedUseML.mean()), 2), 
                'median': round(float(local_df.CombinedUseML.median()), 2),
                'min': round(float(local_df.CombinedUseML.min()), 2), 
                'max': round(float(local_df.CombinedUseML.max()), 2), 
                'total': round(float(local_df.CombinedUseML.sum()), 2), 
            }
    }
    
    return report

In [8]:
consumption_report(year=2010)

{'agriculture': {'average': 369.08,
  'max': 914.0,
  'median': 228.0,
  'min': 22.0,
  'total': 4429.0},
 'combined': {'average': 1319.33,
  'max': 2033.0,
  'median': 1164.0,
  'min': 793.0,
  'total': 15832.0},
 'urban': {'average': 950.25,
  'max': 1148.0,
  'median': 936.0,
  'min': 771.0,
  'total': 11403.0}}

Expected output - <br>
<br>
{'agriculture': {'average': 369.08,<br>
  'max': 914.0,<br>
  'median': 228.0,<br>
  'min': 22.0,<br>
  'total': 4429.0},<br>
 'combined': {'average': 1319.33,<br>
  'max': 2033.0,<br>
  'median': 1164.0,<br>
  'min': 793.0,<br>
  'total': 15832.0},<br>
 'urban': {'average': 950.25,<br>
  'max': 1148.0,<br>
  'median': 936.0,<br>
  'min': 771.0,<br>
  'total': 11403.0}}<br>

# Question 2
Create a function that reports on outliers in the water consumption data.
<br><br>
An outlier is a monthly consumption figure that is:
<br>
- either ***less than two standard deviations below the mean*** (overall) water consumption level, or
- ***greater than two standard deviations above the mean*** (overall) water consumption level.
<br><br>
- Your function should be able to report these outliers for `agricultural` consumption, `urban` consumption or `combined` (urban + agricultural) consumption.
<br>

- It should take a single argument, consumption_type, which can take on one of 3 `str` values:  `urban`, `agricultural`, or combined`. It should report the applicable outliers when passed either of these strings.

<br>
- The key should be the date of the outlier, and the value should be the (requested) outlier consumption in ML.
<br>
- If consumption_type is not one of `urban`, `agricultural` or `combined`, your code should raise a ValueError.
<br>
- The report should be returned as a dictionary in the form:
<br>
```
{
    datestring: combined / agricultural / urban consumption
}
```
<br>
- The datestring should be the date of the outlier measurement as `str`, in the format `yyyy-mm` (e.g. `2014-01`).
<br>
- The consumption should be in megalitres (Ml), as a `float` and rounded to 2 decimal places.

In [44]:
def outliers(consumption_type):
    
    # Set up the dataframe by creating a copy of the WaterConsumption table
    local_df = water_consumption_df.copy()
    
    # Convert the dates to  Date:
    local_df.loc[:,"Date"] = pd.to_datetime(local_df.Date)
    
    # Create a column combining agricultural and urban use
    local_df["CombinedML"] = local_df.AgriculturalUseML + local_df.UrbanUseML
    
    # Check for the consumption type argument
    if consumption_type == "combined":
        consumption = local_df.CombinedML
    elif consumption_type == "urban":
        consumption = local_df.UrbanUseML
    elif consumption_type == "agricultural":
        consumption = local_df.AgriculturalUseML
    else:
        raise ValueError("`consumption_type` should be one of: "
                         "`combined` / `urban` / `agricultural`")

    # Create an indicator series filtering for outliers
    lower_outliers = consumption < consumption.mean() - 2*consumption.std()
    upper_outliers = consumption > consumption.mean() + 2*consumption.std()
    
    outliers = upper_outliers | lower_outliers

    # Set up a report of all the outliers and return it.
    report = {
        row.Date.strftime('%Y-%m'): consumption[ix] 
        for ix, row in local_df[outliers].iterrows()
    }
    
    return report

In [45]:
outliers('combined')

{'2015-01': 2427.0, '2015-02': 2507.0}

Expected output - 

{'2015-01': 2427.0, '2015-02': 2507.0}

# Question 3
We need to analyse how rainfall affects dam levels. In order to do this, we  can first try to find the closest weather stations to each dam.

Write a function that takes a dam name as an argument (`dam_name`) and uses the `dam_df` and `rain_station_df` to calculate the euclidean distance (in degrees) of each rain station from the dam in question.

Your function should return a dictionary in the format:

```
{
    station_name: euclidean distance from dam_name as a float, rounded to 3 decimals
}
```

**NOTE:  Round your distances to 3 decimal places**

Use the following formula for the distance:

```
delta_x = dam_longitude - station_longitude
delta_y = dam_latitude - station_latitude

distance = sqrt( delta_x^2 + delta_y^2 )
```

That is:
<br>
$$\Delta x = longitude_{dam} - longitude_{station}$$
<br>
$$\Delta y = latitude_{dam} - latitude_{station}$$
<br>
$$distance = \sqrt{{\Delta x}^2 + {\Delta y}^2}$$

In [14]:
def station_distance_to_dam(dam_name):
    
    # Filter for the dam in question, and set the index to the Dam Name
    dam = dam_df.set_index('DamName').loc[dam_name]
    
    # Calculate the  distances and add them to a dictionary
    distances = {}

    for jx, station in rain_station_df.set_index('RainStationName').iterrows():
        x = dam.Latitude - station.Latitude
        y = dam.Longitude - station.Longitude
        
        distance = (x**2 + y**2)**0.5
        
        distances[jx] = round(float(distance), 3)
        
    return distances

In [15]:
station_distance_to_dam("VICTORIA")

{'ASSEGAAIBOS': 0.661,
 'BERGDUMP': 1.287,
 'CERES': 1.069,
 'HAWEQWAS': 0.858,
 'HIGGOVALE': 0.048,
 'JONKERSHOEK': 0.543,
 'KOGEL_BAAI': 0.486,
 'KWAGGASKLOOF': 1.091,
 'NEWLAND': 0.047,
 'STEENBRAS LOWER': 0.5,
 'TAFELBERG': 0.007,
 'THEEWATERSKLOOF': 0.89,
 'VOLELVLEI': 0.904,
 'ZACHARIASHOEK': 0.673}

Expected output - <br>
<br>

{'ASSEGAAIBOS': 0.661,<br>
 'BERGDUMP': 1.287,<br>
 'CERES': 1.069,<br>
 'HAWEQWAS': 0.858,<br>
 'HIGGOVALE': 0.048,<br>
 'JONKERSHOEK': 0.543,<br>
 'KOGEL_BAAI': 0.486,<br>
 'KWAGGASKLOOF': 1.091,<br>
 'NEWLAND': 0.047,<br>
 'STEENBRAS LOWER': 0.5,<br>
 'TAFELBERG': 0.007,<br>
 'THEEWATERSKLOOF': 0.89,<br>
 'VOLELVLEI': 0.904,<br>
 'ZACHARIASHOEK': 0.673}

# Question 4

After some thought, you realise that the closest weather stations might not be the best indication of change in the dam levels. Question 4 will investigate this hypothesis.

In order to find out which weather stations are most correlated with changes in dam levels, write a function that calculates the correlation between the **change in the level of a particular dam** and the rainfall measurements from each rainstation.

### Question - Step 1:
The first thing we need to do is get the actual dam data in a DataFrame.

Create a function that takes a dam name as an argument (`dam_name`) and returns a DataFrame containing the `StorageML` values for the dam against each `Date`.

***Dataframe Specifications***:<br>
The DataFrame should *only* have **two columns**:

- A `Date` column as a Timestamp (i.e. in the `datetime` format). 
- A `StorageML` column containing the storage in megalitres as a `float` type.
<br><br> 
**The `Date` column should also be the index of the dataframe.**

In [111]:
def levels_for_dam(dam_name):
    
    # Set up the dataframe by joining Dam and DamLevel
    local_df = dam_level_df.join(
        dam_df.set_index("DamId"), 
        on='DamId', 
        how='left'
    )
    
    # Filter for the dam_name and sort by date
    df = local_df[local_df.DamName == dam_name].sort_values('Date')

    # Convert the date to datetime format
    df['Date'] = pd.to_datetime(df.Date)

    # Set Date as the index 
    df.set_index('Date', inplace=True)
    
    return df[['StorageML']]

In [112]:
levels_for_dam('STEENBRAS LOWER').head()

            StorageML
Date
2012-01-01    23549.0
2012-01-02    23460.0
2012-01-03    23372.0
2012-01-04    23313.0
2012-01-05    23224.0

Expected output - 

|Date	|StorageML|
| --- | --- |
|2012-01-01	|23549.0|
|2012-01-02	|23460.0|
|2012-01-03	|23372.0|
|2012-01-04	|23313.0|
|2012-01-05	|23224.0|

### Question 4 - Step 2:
The second step is figuring out how the level of a particular dam changes over time.
<br><br>
Write a function, `delta_storage` that takes a dam name as an argument (`dam_name`), and returns a dataframe describing how `dam_name`'s level changed on that day (i.e. by how much it increased / decreased).
<br><br>

***Dataframe Specifications***
<br>
- The `Date` column should be a Timestamp (i.e. in the `datetime` format). 
<br>
- The `DeltaStorageML` column should be of `float` type.
<br>
- The `Date` column should also be the index of the dataframe.
<br><br>
***HINTS*** <br>
- The change in a column of a dataframe can be calculated by using
```
df[["some_column"]].diff()
```<br>
- The very first row in the `DeltaStorageML` column will be `nan` since there is no previous value to calculate a change in storage from.  This is correct.
<br>
- You should use the function you created in step 1.
- This will be a very short function, around 4 lines of code.

In [113]:
def delta_storage(dam_name):
    df = levels_for_dam(dam_name)
    
    # Take the difference of the columns
    df_diff = df.diff()
    
    return df_diff.rename(columns={'StorageML': 'DeltaStorageML'})

In [114]:
delta_storage('STEENBRAS LOWER').head()

            DeltaStorageML
Date
2012-01-01             NaN
2012-01-02           -89.0
2012-01-03           -88.0
2012-01-04           -59.0
2012-01-05           -89.0

Expected output - 


|Date |DeltaStorageML|
| --- | --- |
|2012-01-01	|NaN|
|2012-01-02	|89.0|
|2012-01-03	|88.0|
|2012-01-04	|59.0|
|2012-01-05	|89.0|

### Question 4 - Step 3:
Next, we need to sum these differences over each month.

Write a function that takes the dam_name as an argument and returns the change in the dam level (in Megalitres) for that particular month.

The dataframe should have three columns: a `Year` column, `Month` column and a `DeltaStorageML` column, which is **the change** in storage for that particular month.


***Dataframe Specifications***
- The `Year` column should be of `int` type.
- The `Month` column should also be of `int` type.
- The `DeltaStorageML` column should be of `float` type.
<br><br>
- The column order should be:  `Year` *(part of the index)* **|** `Month` *(part of the index)* **|** `DeltaStorageML`.

***HINT***
- Use the function you created in Step 3.
- Use a `groupby` to aggregate over each month.
- This should be a very short function, around 6 lines.

In [115]:
def monthly_delta_storage(dam_name):
    df_diff = delta_storage(dam_name)
    
    # Aggregate the change in dam levels by month
    grouped_df_diff = df_diff.groupby(
        by=[df_diff.index.year, df_diff.index.month]
    ).sum()
    
    grouped_df_diff.rename_axis(['Year', 'Month'], inplace=True)
    
    return grouped_df_diff

In [116]:
monthly_delta_storage('STEENBRAS LOWER').head()

            DeltaStorageML
Year Month
2012 1             -2425.0
     2             -2714.0
     3             -3342.0
     4               -66.0
     5              -154.0

Expected output - 

|Year| Month|DeltaStorageML|
| --- | --- | --- |
|2012|1|-2425.0|
||2|	-2714.0|
||3	|-3342.0|
||4	|-66.0|
||5|	-154.0|

### Question 4 - Step 4
Next, we need to get a handle on the rain data.

Create a function that takes a station name as an argument (`station_name`) and returns a DataFrame containing the `PrecipitationMM` values for the station against each `Date`.

***Dataframe Specifications***:<br>
The DataFrame should *only have* **two columns**:

- A `Date` column in the `datetime` format. 
- A `PrecipitationMM` column containing the Precipitation in millilitres  as a `float64` type.

- **The `Date` column should also be the index of the dataframe.**

In [117]:
def precip_for_station(station_name):
    
    # Set up the dataframe by joining Rainfall and RainStation
    local_df = rainfall_df.join(
        rain_station_df.set_index("StationId"), 
        on='StationId', 
        how='left'
    )
    
    # Filter by the station name
    rain_df = local_df[local_df.RainStationName == station_name]

    # Convert date to a datetime format
    dates = pd.to_datetime(rain_df.Date)
    rain_df.loc[:, 'Date'] = dates

    # Set Date as the index and PrecipitationMM 
    rain_df = rain_df.set_index('Date')[['PrecipitationMM']]

    return rain_df

In [118]:
precip_for_station('TAFELBERG').head()

C:\Users\User\Anaconda3\envs\edsa\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

            PrecipitationMM
Date
1974-10-01            151.0
1974-11-01            105.0
1974-12-01             27.6
1975-01-01             71.0
1975-02-01             15.1

Expected output - 

|  | PrecipitationMM |
| --- | --- | 
| Date |  |
|1974-10-01 |151.0|
|1974-11-01 | 105.0|
|1974-12-01 | 27.6|
|1975-01-01 | 71.0|
|1975-02-01 | 15.1|

### Question 4 - Step 5

Next, we need to sum up these rainfall measurements for each month.

Write a function that takes a `station_name` as an argument and returns the total rainfall by month.


***Dataframe Specifications***
- The `Year` column should be of `int` type.
- The `Month` column should also be of `int` type.
- The `PrecipitationMM` column should be of `float` type.


- Both `Year` and `Month` should form part of the index (with each unique year only appearing once).
- The column order should be:  `Year` | `Month` | `PrecipitationMM`.

***HINT***
- Use the function you created in Step 4.
- This should be a very short function, around 6 lines.

In [119]:
def monthly_precipitation(station_name):
    rain_df = precip_for_station(station_name)
        
    grouped_rain_df = rain_df.groupby(
        by=[rain_df.index.year, rain_df.index.month]
    ).sum()
    
    grouped_rain_df.rename_axis(['Year', 'Month'], inplace=True)
    
    return grouped_rain_df

In [120]:
monthly_precipitation('CERES').head()

C:\Users\User\Anaconda3\envs\edsa\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

            PrecipitationMM
Year Month
1999 10                 0.0
     11                76.0
     12                35.0
2000 1                 33.5
     2                  0.0

Expected output - 
	
| |  | PrecipitationMM|
| --- | --- | --- |
|Year | Month | |
|1999 | 10 | 0.0|
||11 | 76.0|
||12 | 35.0|
|2000|1 | 33.5|
||2|0.0|

# Question 4 - Step 6
Next, we need to somehow combine the rainfall and dam level measurements.

Write a function that takes two arguments, `dam_name` and `station_name` and returns a dataframe containing the **monthly change in dam level** for the dam with name `dam_name` as well as the rainfall measurements associated with the station with `station_name`.


***Dataframe Specifications***
- The `Year` column should be of `int` type.
- The `Month` column should also be of `int` type.
- A `DeltaStorageML` column containing the change in the dam level (in megalitres) for the dam with `dam_name` (of `float64` type).
- A `PrecipitationMM` column containing the rainfall measurements associated with station `station_name` (of `float64` type).


- Both `Year` and `Month` should form part of the index (with each unique year only appearing once).
- The column order should be:  `Year` | `Month` | `PrecipitationMM` | `DeltaStorageML`.

***HINT***
- Use the functions you created previously.
- This should be a very short function, around 3 lines.

In [121]:
def monthly_delta_storage_and_precipitation(dam_name, station_name):
    
    grouped_rain_df = monthly_precipitation(station_name)
    grouped_damlevel_df = monthly_delta_storage(dam_name)
    
    combined_diff_df = grouped_rain_df.join(grouped_damlevel_df, how='inner')
    
    return combined_diff_df

In [122]:
monthly_delta_storage_and_precipitation("THEEWATERSKLOOF", "JONKERSHOEK").head(10)

C:\Users\User\Anaconda3\envs\edsa\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

            PrecipitationMM  DeltaStorageML
Year Month
2012 1                  0.0        -43449.0
     2                  0.0        -35403.0
     3                  0.0        -30566.0
     4                 95.0         -7041.0
     5                 77.6          9431.0
     6                144.0         42094.0
     7                216.4         50934.0
     8                218.0        109231.0
     9                104.5         37734.0
     10               124.5         -2056.0

Expected output - 
		
|Year|	Month	|	PrecipitationMM	|DeltaStorageML|
| --- | --- | --- | --- |
|2012|	1|	0.0|	-43449.0|
||2	|0.0|	-35403.0|
||3	|0.0|	-30566.0|
||4	|95.0|	-7041.0|
||5	|77.6|	9431.0|
||6	|144.0|	42094.0|
||7	|216.4|	50934.0|
||8	|218.0|	109231.0|
||9	|104.5|	37734.0|
||10|124.5|	-2056.0|

### Question 4 - Step 7

Finally, we need to calculate the correlation between the change in dam levels and the precipitation from each station.

Write a function that takes a `dam_name` as an argument and returns the correlation of `PrecipitationMM` from each `rain_station` with the change in its dam level (`DeltaStorageML`).

It should return a dictionary in the form:

```
{
    station_name: correlation with change in levels of dam_name as a float to 3 decimal places
}
```

**IMPORTANT:  Your correlation values must be `float`s to 3 decimal places.**

***HINT*** <br>
The correlation between two columns in a DataFrame can be calculated as:

```
df.corr().ColumnA.ColumnB
```

In [123]:
def rain_station_correlations(dam_name):
    
    local_df = rain_station_df.copy()
    
    # Loop through all the Rain Stations and correlate with change in dam levels
    correlations = {}
    
    for station_name in local_df.RainStationName.unique():
        df = monthly_delta_storage_and_precipitation(dam_name, station_name)
        corr = df.corr().DeltaStorageML.PrecipitationMM
        correlations[station_name] = round(float(corr), 3)
        
    return correlations

In [124]:
rain_station_correlations('VICTORIA')

C:\Users\User\Anaconda3\envs\edsa\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

{'ASSEGAAIBOS': 0.505,
 'BERGDUMP': 0.278,
 'CERES': 0.556,
 'HAWEQWAS': 0.564,
 'HIGGOVALE': 0.62,
 'JONKERSHOEK': 0.592,
 'KOGEL_BAAI': 0.55,
 'KWAGGASKLOOF': 0.419,
 'NEWLAND': 0.527,
 'STEENBRAS LOWER': 0.55,
 'TAFELBERG': 0.611,
 'THEEWATERSKLOOF': 0.454,
 'VOLELVLEI': 0.578,
 'ZACHARIASHOEK': 0.511}

Expected output - <br>
<br>
{'ASSEGAAIBOS': 0.505,<br>
 'BERGDUMP': 0.278,<br>
 'CERES': 0.556,<br>
 'HAWEQWAS': 0.564,<br>
 'HIGGOVALE': 0.62,<br>
 'JONKERSHOEK': 0.592,<br>
 'KOGEL_BAAI': 0.55,<br>
 'KWAGGASKLOOF': 0.419,<br>
 'NEWLAND': 0.527,<br>
 'STEENBRAS LOWER': 0.55,<br>
 'TAFELBERG': 0.611,<br>
 'THEEWATERSKLOOF': 0.454,<br>
 'VOLELVLEI': 0.578,<br>
 'ZACHARIASHOEK': 0.511}

---------------

## VERY IMPORTANT
***DO NOT DELETE OR CHANGE THIS FUNCTION.***

WE WILL USE IT TO TEST YOUR FUNCTIONS.
WITHOUT IT YOUR SUBMISSION WILL BE GRADED ZERO.

In [100]:
def define_dataframes():
    
    global water_consumption_df
    water_consumption_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/water_consumption.csv', 
                                      usecols=["Date", "UrbanUseML", "AgriculturalUseML"])
    
    global dam_df
    dam_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/dam.csv', 
                                      usecols=["DamId", "DamName", "MaxCapacityML", "Latitude", "Longitude"])

    global rain_station_df
    rain_station_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/rain_stations.csv', 
                                      usecols=["StationId", "RainStationName", "Latitude", "Longitude"])

    global dam_level_df
    # DamID in the dam_level_df DataFrame corresponds to DamID in the dam_df DataFrame
    dam_level_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/dam_level.csv', 
                                      usecols=["Date", "DamId", "HeightM", "StorageML"])

    global rainfall_df
    # StationID in the rainfall_df DataFrame corresponds to StationID in the rain_station_df DataFrame
    rainfall_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/rainfall.csv', 
                                      usecols=["Date", "StationId", "PrecipitationMM"])

In [40]:
s = np.logical_or(13, 60)

In [41]:
s

True